<html>
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <style>
            {#asset invoice-styles.css @encoding=utf8}
        
        </style>
        
    </head>
    <body>
        <div class="invoice-box">
            <table cellpadding="0" cellspacing="0">
                <tr class="top">
                    <td colspan="4">
                        <table>
                            <tr>
                                
                                <td>
                                    
                                    Factura #: {{id_paquete_contrato}}
                                    <br> Aprobado: {{fecha_aprobado}}
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr class="information ">
                    <td colspan="4 ">
                        <table>
                            <tr>
                                <td></td>
                                <td>
                                    {{nombre_apellido nombre_cliente apellido1}}<br>
                                    {{id_cliente}}<br>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr class="heading ">
                    <td>
                        Nombre Paquete
                    </td>
                    
                    <td>
                        Precio 
                    </td>

                </tr>
               
                <tr class="item">
                    <td>
                        {{nombre_paquete}}
                    </td>
                    
                    <td>
                       {{costo}}
                    </td>


                </tr>
                <tr class="total">
                    <td></td>
                    <td>IVA:{{iva costo}}</td>
                </tr>
                <tr class="total ">
                    <td></td>
                    <td>
                        Total: ${{total costo}}
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>
