
<style>
 {#asset ficha_styles.css @encoding=utf8}
 </style>

<div class="flip-card-container" style="--hue: 220">
  {{#each rows}}
  <div class="flip-card">

    <div class="card-front">
      <figure>
        <div class="img-bg"></div>
        <img src={{imgurl}} alt="Brohm Lake">
        <figcaption>{{nombre}}</figcaption>
      </figure>

      <ul>
        <li>Ciudades: {{circuito}}</li>
        <li>{{fecha_inicio_rally}} </li>
        <li>organizadores:{{agencias}} dias</li>
        <li>{{descripcion}}</li>
        <li>premios: {{premios}}</li>
      </ul>
    </div>

    <div class="card-back">
      <figure>
        <div class="img-bg"></div>
        <img src={{imgurl}} alt="Brohm Lake">
      </figure>
      <li>ganador: {{ganador}}</li>
      <button>inscribirse</button>

      <div class="design-container">
        <span class="design design--1"></span>
        <span class="design design--2"></span>
        <span class="design design--3"></span>
        <span class="design design--4"></span>
        <span class="design design--5"></span>
        <span class="design design--6"></span>
        <span class="design design--7"></span>
        <span class="design design--8"></span>
      </div>
    </div>

  </div>

{{/each}}
</div>
<!-- /flip-card-container -->
